spring.config.import: "configserver:"

spring.application.name: eureka-server

spring.cloud.config:
  uri: http://config-server:8888
  username: ${CONFIG_SERVER_USER}
  password: ${CONFIG_SERVER_PASSWORD}
  failFast: true
  retry:
    initialInterval: 3000
    multiplier: 1.3
    maxInterval: 10000
    maxAttempts: 20