version: '2.1'

services:
  config-server:
    build: spring-cloud/config-server
    mem_limit: 1024m
    environment:
      - PWD=${PWD}
      - SPRING_PROFILES_ACTIVE=docker
      - ENCRYPT_KEY=${CONFIG_SERVER_ENCRYPT_KEY}
      - SPRING_SECURITY_USER_NAME=${CONFIG_SERVER_USR}
      - SPRING_SECURITY_USER_PASSWORD=${CONFIG_SERVER_PWD}
    volumes:
      - $PWD/configurations:/configurations