services:
  rail-data-collector-1:
    container_name: rail-data-collector-1
    build: data/rail-data-collector
    mem_limit: 2048m
    environment:
      - SPRING_PROFILES_ACTIVE=docker,data-source-emma,scaled-3,instance-1
      - CONFIG_SERVER_USER=${CONFIG_SERVER_USER}
      - CONFIG_SERVER_PASSWORD=${CONFIG_SERVER_PASSWORD}
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETTIMETABLEAPI_LIMITFORPERIOD=2
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETTIMETABLEAPI_LIMITREFRESHPERIOD=1s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETTIMETABLEAPI_TIMEOUTDURATION=5s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETFULLTIMETABLEAPI_LIMITFORPERIOD=2
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETFULLTIMETABLEAPI_LIMITREFRESHPERIOD=1s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETFULLTIMETABLEAPI_TIMEOUTDURATION=5s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETTRAINDETAILSAPI_LIMITFORPERIOD=2
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETTRAINDETAILSAPI_LIMITREFRESHPERIOD=1s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETTRAINDETAILSAPI_TIMEOUTDURATION=5s
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started
      rabbitmq:
        condition: service_healthy
      redis-2:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-fs", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 2s
      retries: 60

  rail-data-collector-2:
    container_name: rail-data-collector-2
    build: data/rail-data-collector
    mem_limit: 2048m
    environment:
      - SPRING_PROFILES_ACTIVE=docker,data-source-emma,scaled-3,instance-2
      - CONFIG_SERVER_USER=${CONFIG_SERVER_USER}
      - CONFIG_SERVER_PASSWORD=${CONFIG_SERVER_PASSWORD}
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETTIMETABLEAPI_LIMITFORPERIOD=1
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETTIMETABLEAPI_LIMITREFRESHPERIOD=1s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETTIMETABLEAPI_TIMEOUTDURATION=5s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETFULLTIMETABLEAPI_LIMITFORPERIOD=1
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETFULLTIMETABLEAPI_LIMITREFRESHPERIOD=1s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETFULLTIMETABLEAPI_TIMEOUTDURATION=5s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETTRAINDETAILSAPI_LIMITFORPERIOD=2
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETTRAINDETAILSAPI_LIMITREFRESHPERIOD=1s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETTRAINDETAILSAPI_TIMEOUTDURATION=5s
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started
      rabbitmq:
        condition: service_healthy
      redis-3:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-fs", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 2s
      retries: 60

  rail-data-collector-3:
    container_name: rail-data-collector-3
    build: data/rail-data-collector
    mem_limit: 2048m
    environment:
      - SPRING_PROFILES_ACTIVE=docker,data-source-emma,scaled-3,instance-3
      - CONFIG_SERVER_USER=${CONFIG_SERVER_USER}
      - CONFIG_SERVER_PASSWORD=${CONFIG_SERVER_PASSWORD}
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETTIMETABLEAPI_LIMITFORPERIOD=2
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETTIMETABLEAPI_LIMITREFRESHPERIOD=1s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETTIMETABLEAPI_TIMEOUTDURATION=5s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETFULLTIMETABLEAPI_LIMITFORPERIOD=1
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETFULLTIMETABLEAPI_LIMITREFRESHPERIOD=1s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETFULLTIMETABLEAPI_TIMEOUTDURATION=5s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETTRAINDETAILSAPI_LIMITFORPERIOD=2
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETTRAINDETAILSAPI_LIMITREFRESHPERIOD=1s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETTRAINDETAILSAPI_TIMEOUTDURATION=5s
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started
      rabbitmq:
        condition: service_healthy
      redis-4:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-fs", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 2s
      retries: 60

  weather-data-collector-1:
    container_name: weather-data-collector-1
    build: data/weather-data-collector
    mem_limit: 2048m
    environment:
      - SPRING_PROFILES_ACTIVE=docker,scaled-3,instance-1
      - CONFIG_SERVER_USER=${CONFIG_SERVER_USER}
      - CONFIG_SERVER_PASSWORD=${CONFIG_SERVER_PASSWORD}
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETWEATHERDATAAPI_LIMITFORPERIOD=4
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETWEATHERDATAAPI_LIMITREFRESHPERIOD=1s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETWEATHERDATAAPI_TIMEOUTDURATION=3s
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-fs", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 2s
      retries: 60

  weather-data-collector-2:
    container_name: weather-data-collector-2
    build: data/weather-data-collector
    mem_limit: 2048m
    environment:
      - SPRING_PROFILES_ACTIVE=docker,scaled-3,instance-2
      - CONFIG_SERVER_USER=${CONFIG_SERVER_USER}
      - CONFIG_SERVER_PASSWORD=${CONFIG_SERVER_PASSWORD}
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETWEATHERDATAAPI_LIMITFORPERIOD=4
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETWEATHERDATAAPI_LIMITREFRESHPERIOD=1s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETWEATHERDATAAPI_TIMEOUTDURATION=3s
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-fs", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 2s
      retries: 60

  weather-data-collector-3:
    container_name: weather-data-collector-3
    build: data/weather-data-collector
    mem_limit: 2048m
    environment:
      - SPRING_PROFILES_ACTIVE=docker,scaled-3,instance-3
      - CONFIG_SERVER_USER=${CONFIG_SERVER_USER}
      - CONFIG_SERVER_PASSWORD=${CONFIG_SERVER_PASSWORD}
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETWEATHERDATAAPI_LIMITFORPERIOD=4
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETWEATHERDATAAPI_LIMITREFRESHPERIOD=1s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GETWEATHERDATAAPI_TIMEOUTDURATION=3s
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-fs", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 2s
      retries: 60

  geocoding-service-1:
    container_name: geocoding-service-1
    build: data/geocoding-service
    mem_limit: 2048m
    environment:
      - SPRING_PROFILES_ACTIVE=docker,scaled-3,instance-1
      - CONFIG_SERVER_USER=${CONFIG_SERVER_USER}
      - CONFIG_SERVER_PASSWORD=${CONFIG_SERVER_PASSWORD}
      - RESILIENCE4J_RATELIMITER_INSTANCES_GEOCODINGAPI_LIMITFORPERIOD=4
      - RESILIENCE4J_RATELIMITER_INSTANCES_GEOCODINGAPI_LIMITREFRESHPERIOD=1s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GEOCODINGAPI_TIMEOUTDURATION=3s
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-fs", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 2s
      retries: 60

  geocoding-service-2:
    container_name: geocoding-service-2
    build: data/geocoding-service
    mem_limit: 2048m
    environment:
      - SPRING_PROFILES_ACTIVE=docker,scaled-3,instance-2
      - CONFIG_SERVER_USER=${CONFIG_SERVER_USER}
      - CONFIG_SERVER_PASSWORD=${CONFIG_SERVER_PASSWORD}
      - RESILIENCE4J_RATELIMITER_INSTANCES_GEOCODINGAPI_LIMITFORPERIOD=4
      - RESILIENCE4J_RATELIMITER_INSTANCES_GEOCODINGAPI_LIMITREFRESHPERIOD=1s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GEOCODINGAPI_TIMEOUTDURATION=3s
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-fs", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 2s
      retries: 60

  geocoding-service-3:
    container_name: geocoding-service-3
    build: data/geocoding-service
    mem_limit: 2048m
    environment:
      - SPRING_PROFILES_ACTIVE=docker,scaled-3,instance-3
      - CONFIG_SERVER_USER=${CONFIG_SERVER_USER}
      - CONFIG_SERVER_PASSWORD=${CONFIG_SERVER_PASSWORD}
      - RESILIENCE4J_RATELIMITER_INSTANCES_GEOCODINGAPI_LIMITFORPERIOD=4
      - RESILIENCE4J_RATELIMITER_INSTANCES_GEOCODINGAPI_LIMITREFRESHPERIOD=1s
      - RESILIENCE4J_RATELIMITER_INSTANCES_GEOCODINGAPI_TIMEOUTDURATION=3s
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-fs", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 2s
      retries: 60

  delay-data-collector:
    build: data/delay-data-collector
    mem_limit: 3072m
    environment:
      - SPRING_PROFILES_ACTIVE=docker,local-debug,data-source-emma,scaled-3
      - CONFIG_SERVER_USER=${CONFIG_SERVER_USER}
      - CONFIG_SERVER_PASSWORD=${CONFIG_SERVER_PASSWORD}
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started
      rabbitmq:
        condition: service_healthy
      rail-data-collector-1:
        condition: service_healthy
      geocoding-service-1:
        condition: service_healthy
      weather-data-collector-1:
        condition: service_healthy
      postgresql-1:
        condition: service_healthy
      redis-1:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-fs", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 2s
      retries: 60

  delay-predictor-service-1:
    container_name: delay-predictor-service-1
    build: model/delay-predictor-service
    mem_limit: 2048m
    environment:
      - CONFIG_SERVER_URL=http://config-server:8888
      - CONFIG_PROFILE=docker
      - IS_TRAINING_INSTANCE=False
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      postgresql-2:
        condition: service_healthy
      delay-data-collector:
        condition: service_started
    healthcheck:
      test: [ "CMD", "curl", "-fs", "http://localhost:8000/actuator/health/" ]
      interval: 10s
      timeout: 2s
      retries: 60

  delay-predictor-service-2:
    container_name: delay-predictor-service-2
    build: model/delay-predictor-service
    mem_limit: 2048m
    environment:
      - CONFIG_SERVER_URL=http://config-server:8888
      - CONFIG_PROFILE=docker
      - IS_TRAINING_INSTANCE=False
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      postgresql-2:
        condition: service_healthy
      delay-data-collector:
        condition: service_started
    healthcheck:
      test: [ "CMD", "curl", "-fs", "http://localhost:8000/actuator/health/" ]
      interval: 10s
      timeout: 2s
      retries: 60

  delay-predictor-service-3:
    container_name: delay-predictor-service-3
    build: model/delay-predictor-service
    mem_limit: 2048m
    environment:
      - CONFIG_SERVER_URL=http://config-server:8888
      - CONFIG_PROFILE=docker
      - IS_TRAINING_INSTANCE=False
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      postgresql-2:
        condition: service_healthy
      delay-data-collector:
        condition: service_started
    healthcheck:
      test: [ "CMD", "curl", "-fs", "http://localhost:8000/actuator/health/" ]
      interval: 10s
      timeout: 2s
      retries: 60

  route-planner-service-1:
    container_name: route-planner-service-1
    build: route/route-planner-service
    mem_limit: 3072m
    environment:
      - SPRING_PROFILES_ACTIVE=docker,data-source-emma
      - CONFIG_SERVER_USER=${CONFIG_SERVER_USER}
      - CONFIG_SERVER_PASSWORD=${CONFIG_SERVER_PASSWORD}
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started
      delay-data-collector:
        condition: service_healthy
      geocoding-service-1:
        condition: service_healthy
      rail-data-collector-1:
        condition: service_healthy
      delay-predictor-service-1:
        condition: service_healthy
      weather-data-collector-1:
        condition: service_started
    healthcheck:
      test: [ "CMD", "curl", "-fs", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 2s
      retries: 60

  api-gateway:
    build: cloud/api-gateway
    mem_limit: 2048m
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - CONFIG_SERVER_USER=${CONFIG_SERVER_USER}
      - CONFIG_SERVER_PASSWORD=${CONFIG_SERVER_PASSWORD}
      - SERVER_SSL_KEY_STORE=file:/keystore/certificate.p12
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_CLOUD_GATEWAY=DEBUG
      - LOGGING_LEVEL_REACTOR_CORE_PUBLISHER=DEBUG
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_WEB=DEBUG
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY=DEBUG
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY_WEB_SERVER=TRACE
    volumes:
      - $PWD/keystore:/keystore
    ports:
      - "8443:8443"
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
      security-server:
        condition: service_healthy

  security-server:
    build: cloud/security-server
    mem_limit: 1024m
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - CONFIG_SERVER_USER=${CONFIG_SERVER_USER}
      - CONFIG_SERVER_PASSWORD=${CONFIG_SERVER_PASSWORD}
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started
      postgresql-3:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-fs", "http://localhost:9999/actuator/health" ]
      interval: 10s
      timeout: 2s
      retries: 60

  postgresql-1:
    image: postgres:17
    mem_limit: 4096m
    container_name: postgresql-1
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 20s
      timeout: 3s
      retries: 10

  postgresql-2:
    image: postgres:latest
    mem_limit: 2048m
    container_name: postgresql-2
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${DJANGO_DB_USER}
      POSTGRES_PASSWORD: ${DJANGO_DB_PASSWORD}
      POSTGRES_DB: ${DJANGO_DB_NAME}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 20s
      timeout: 3s
      retries: 10

  postgresql-3:
    image: postgres:17
    mem_limit: 4096m
    container_name: postgresql-3
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: ${SECURITY_DB_USER}
      POSTGRES_PASSWORD: ${SECURITY_DB_PASSWORD}
      POSTGRES_DB: ${SECURITY_DB_NAME}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 20s
      timeout: 3s
      retries: 10

  redis-1:
    image: redis:7.2-alpine
    container_name: redis-1
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 3s
      retries: 5

  redis-2:
    image: redis:7.2-alpine
    container_name: redis-2
    ports:
      - "6380:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "-p", "6379", "ping" ]
      interval: 10s
      timeout: 3s
      retries: 5

  redis-3:
    image: redis:7.2-alpine
    container_name: redis-3
    ports:
      - "6381:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "-p", "6379", "ping" ]
      interval: 10s
      timeout: 3s
      retries: 5

  redis-4:
    image: redis:7.2-alpine
    container_name: redis-4
    ports:
      - "6382:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "-p", "6379", "ping" ]
      interval: 10s
      timeout: 3s
      retries: 5

  eureka-server:
    build: cloud/eureka-server
    mem_limit: 1024m
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - CONFIG_SERVER_USER=${CONFIG_SERVER_USER}
      - CONFIG_SERVER_PASSWORD=${CONFIG_SERVER_PASSWORD}
    depends_on:
      config-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-fs", "http://localhost:8761/actuator/health" ]
      interval: 10s
      timeout: 2s
      retries: 60

  rabbitmq:
    image: rabbitmq:3.11.8-management
    mem_limit: 4096m
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: [ "CMD", "rabbitmqctl", "status" ]
      interval: 5s
      timeout: 2s
      retries: 60

  config-server:
    build: cloud/config-server
    mem_limit: 1024m
    environment:
      - PWD=${PWD}
      - SPRING_PROFILES_ACTIVE=native,docker
      - ENCRYPT_KEY=${CONFIG_SERVER_ENCRYPT_KEY}
      - SPRING_SECURITY_USER_NAME=${CONFIG_SERVER_USER}
      - SPRING_SECURITY_USER_PASSWORD=${CONFIG_SERVER_PASSWORD}
    volumes:
      - $PWD/configurations:/configurations
    healthcheck:
      test: [ "CMD", "curl", "-fs", "http://localhost:8888/actuator/health" ]
      interval: 15s
      timeout: 2s
      retries: 90